# =========================
# Java / Kotlin / Gradle
# =========================
.gradle/
build/
out/

# =========================
# IDE
# =========================
.idea/
*.iml

# =========================
# Logs / temporários
# =========================
*.log
*.tmp

# =========================
# SO
# =========================
.DS_Store
Thumbs.db

